/* upload css start */
.upload {
  display: grid;
  justify-content: center;
}
.upload-btn{
  border: none;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 4px;
}
.upload-wrapper {
  display: flex;
  justify-content: center; /* Horizontal center */
  align-items: center;     /* Vertical center (optional) */
  margin-bottom: 12px;
}

.upload-preview {
  width: 100px;
  height: 100px;
  object-fit: cover;
  /* border: 2px dashed #ccc; */
  border-radius: 10px;
  transition: 0.3s;
}

.upload-preview:hover {
  opacity: 0.8;
}
