<app-header></app-header>
<app-spinner></app-spinner>

<div class="space-top container-fluid">

    <div data-v-73d89818="" class="tab snipcss-Lc9Bn">
      <div (click)="quickNav.go('wallet/deposit')" data-v-73d89818="" class="item">
          <div data-v-73d89818="" class="icon">
              <div data-v-73d89818="" class="kingkong">
                  <div id="style-oU949" class="style-oU949"></div>
                  <!-- <img src="https://h5.ownone.pro/static/img/invite-icon.f2863395.svg" draggable="false"> -->
                  <i class="ti ti-wallet q-icon"></i>
              </div>
          </div>
        <span>Deposit</span>

      </div>
      <div (click)="quickNav.go('wallet/withdraw')" data-v-73d89818="" class="item">
          <div data-v-73d89818="" class="icon">
              <div data-v-73d89818="" class="kingkong">
                  <div id="style-XjsOe" class="style-XjsOe"></div>
                  <!-- <img src="https://h5.ownone.pro/static/img/foundation-icon.562adc6f.svg" draggable="false"> -->
                  <i class="ti ti-exchange q-icon"></i>
              </div>
          </div>
          <span>Withdraw</span>

      </div>
      <div (click)="quickNav.go('wallet/rewards')" data-v-73d89818="" class="item">
          <div data-v-73d89818="" class="icon">
              <div data-v-73d89818="" class="kingkong">
                  <div id="style-GBFTT" class="style-GBFTT"></div>
                  <!-- <img src="https://h5.ownone.pro/static/img/platform-currency-icon.c5e449ba.svg" draggable="false"> -->
                  <i class="ti ti-gift q-icon"></i>
              </div>
          </div>
          <span>Rewards</span>

      </div>

      <div data-v-73d89818="" class="item">
          <div data-v-73d89818="" class="icon">
              <div data-v-73d89818="" class="kingkong">
                  <div id="style-omNpS" class="style-omNpS"></div>
                  <i class="ti ti-help q-icon"></i>
                  <!-- <img src="https://h5.ownone.pro/static/img/exchange.916891e7.svg" draggable="false"> -->
              </div>
          </div>
          <span>Help</span>

      </div>
    </div>

  <app-slider></app-slider>
  <app-quick-notifications></app-quick-notifications>
  <app-upcomming></app-upcomming>
</div>

<app-menu-bottom></app-menu-bottom>
