.matches-display {
  width: auto;
  /* display: inline-flex; */
  align-items: center;
  /* justify-content: center;
  padding: 10px 20px; */
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  border-bottom: 1px solid;
  /* margin-right: 10px; */
  white-space: nowrap;
  /* display: list-item; */
}

.hero_area__topslider {
    /* display: grid; */
    /* row-gap: 12px; */
    background: rgb(22 13 35 / 80%);
    margin-bottom:30px;

}
