/*notification-page*******/
.notification-wrap {
  margin-top: 29px;
}

.notification-card {
  border-radius: 8px;
  background:rgb(22 13 35 / 80%);
   /* var(--white-color, #fff); */
  box-shadow: 0px 3px 8px -1px rgba(71, 50, 50, 0.05), 0px 0px 1px 0px rgba(12, 26, 75, 0.24);
  margin-top: 16px;
  display: flex;
  gap: 10px;
  padding: 14px 22px 14px 14px;
}
.notification-card .icon {
  border-radius: 50%;
  flex: none;
}
.notification-card h6 {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 4px;
}
.notification-card p {
  font-size: 12px;
  margin-bottom: 0;
}
.notification-card span {
  font-size: 10px;
  margin-bottom: -0.3em;
  display: block;
}
